{% extends 'base.html' %}
{% load static %}

{% block title %}
Login
{% endblock %}

{% block content %}

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="fundo container text-white d-flex flex-column align-items-center rounded-3 p-5" style="width: 120vh;">

        <h1 class="text-center mb-4 display-5">Acesse o painel administrativo!</h1>

        <div class="col-12 col-md-10 col-lg-8">
            <form method="POST" action="{% url 'auth_app:admin_entrar' %}" class="w-80">

                {% csrf_token %}
                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <label for="email" class="form-label font-weight-bold">Email:</label>
                            <input type="email" name="email" id="email" class="form-control form-control-lg"
                                placeholder="Digite seu email..." required>
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-3">
                            <label for="password" class="form-label">Senha:</label>
                            <input type="password" name="password" id="password" class="form-control form-control-lg"
                            placeholder="Digite sua senha..." required>
                        </div>
                    </div>
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary btn-lg">Entrar</button>
                    </div>
                </div>
            </form>

            <div class="text-center mt-4">
                <a class="btn btn-outline-light" href="{% url 'auth_app:pagina_inicial' %}" role="button">Voltar à
                    página inicial</a>
            </div>
        </div>

    </div>
</div>

{% endblock %}