{% extends 'base.html' %}
{% load bootstrap5 static %}
{% bootstrap_css %}

{% block title %}
Página Inicial
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center align-items-center min-vh-100">
        <div class="col-md-10 col-lg-8 text-center">
            <div class="bg-image text-white rounded-3 p-5">
                <h1 class="mb-4 display-3">Bem-vindo(a)!</h1>
                
                <!-- Botões centralizados e espaçamento aplicado a partir de sm -->
                <div class="d-block">
                    <a class="btn btn-outline-light btn-lg mx-3 my-2 " href="{% url 'validar-codigo' %}" role="button">
                        Faça seu cadastro aqui!
                    </a>
                    <a class="btn btn-primary btn-lg mx-3 my-2" href="{% url 'auth_app:entrar' %}" role="button">
                        Faça seu login aqui!
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
