{% extends 'base.html' %}
{% load static %}

{% block title %}Cadastro{% endblock %}


<!-- Navigation -->
{% include 'navbar.html' %}


{% block content %}


{% include 'navbar.html' %}

<div class="container">
    <!-- Outer Row -->
    <div class="row justify-content-center">
        <div class="col-xl-6 col-lg-8 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Card Body -->
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="text-gray-900 mb-4 display-6">Faça seu cadastro!</h1>
                        </div>

                        <!-- Div para alertas logo abaixo do título -->
                        <div class="alert-container alerta">
                            {% if messages %}
                            {% include 'components/alerts.html' %}
                            {% endif %}
                        </div>
                        

                        <form method="POST" action="{% url 'auth_app:cadastro' codigo=codigo %}" class="user"
                            enctype="multipart/form-data">
                            {% csrf_token %}

                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <label for="first_name" class="form-label pl-4 small">Nome:</label>
                                    <input type="text" 
                                        name="first_name" 
                                        id="first_name"
                                        class="form-control form-control-user pl-4" 
                                        placeholder="Digite seu nome..."
                                        value="{{ form_data.first_name|default:'' }}"
                                        required>
                                </div>
                                <div class="col-sm-6">
                                    <label for="last_name" class="form-label pl-4 small">Sobrenome:</label>
                                    <input type="text" 
                                        name="last_name" 
                                        id="last_name"
                                        class="form-control form-control-user" 
                                        placeholder="Digite seu sobrenome..."
                                        value="{{ form_data.last_name|default:'' }}"
                                        required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="">
                                    <label for="data_nascimento" class="form-label pl-4 small">Data de
                                        nascimento</label>
                                    <input type="date" 
                                    name="data_nascimento" 
                                    id="data_nascimento"
                                    class="form-control form-control-user" 
                                    value="{{ form_data.data_nascimento|default:'' }}"
                                    required />
                                    <label class="small text-danger pl-4 {% if email_error %}block {% else %} d-none{% endif %}">*Precisa ser maior de 18 anos para efetuar o
                                        cadastro.</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="mb-3">
                                    <label for="email" class="form-label pl-4 small">Email:</label>
                                    <input type="email" 
                                    name="email" 
                                    id="email" 
                                    class="form-control form-control-user"
                                    placeholder="Digite seu email..." 
                                    value="{{ form_data.email|default:'' }}"
                                    required>

                                </div>


                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <label for="password" class="form-label pl-4 small">Senha:</label>
                                    <input type="password" id="password" name="password"
                                        class="form-control form-control-user" placeholder="Digite sua senha..."
                                        required>
                                </div>
                                <div class="col-sm-6">
                                    <label for="confirm_password" class="form-label pl-4 small">Confirme a
                                        senha:</label>
                                    <input type="password" id="confirm_password" name="confirm_password"
                                        class="form-control form-control-user" placeholder="Repetir a sua senha..."
                                        required>
                                </div>
                            </div>

                            
                            <div class="mb-3">
                                <label for="codigo_secreto" class="form-label pl-4 small">Código Secreto:</label>
                                <input type="text" name="codigo_secreto" id="codigo_secreto"
                                    class="form-control form-control-user" value="{{ codigo }}" readonly>
                            </div>

                            <div class="mb-3">
                                <label for="grupo" class="form-label pl-4 small">Grupo:</label>
                                <input type="text" name="grupo" id="grupo" class="form-control form-control-user"
                                    value="{{ grupo }}" readonly>
                            </div>
                            
                           
                            </div>
                            <!-- autorização maior de 18 anos -->
                            <div class="form-check mb-3">
                                <input class="form-check-input" 
                                type="checkbox"
                                id="maior_idade"
                                name="maior_idade" {% if form_data.maior_idade %}checked{% endif %}>
                                <label class="form-check-label" 
                                for="maior_idade">
                                Confirmo que sou +18 anos. 
                            </label>
                            </div>

                            <button type="submit" class="btn btn-primary btn-user btn-block">Cadastrar</button>

                        </form>
                        <hr>
                        <div class="text-center">
                            <a href="">Esqueci minha senha.</a>
                        </div>
                        <div class="text-center">
                            Já tem uma conta? <a href="{% url 'auth_app:entrar' %}">Faça o login aqui.</a>
                        </div>
                        <hr>
                        <div class="text-center mt-2">
                            <a class="btn btn-dark" href="{% url 'chaveiros:pagina_inicial' %}" role="button">Voltar à
                                página inicial</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
</div>
{% endblock %}