{% extends 'base.html' %}
{% load bootstrap5 %}
{% load static %}
{% bootstrap_css %}



{% block title %}
Login
{% endblock %}

{% block content %}

<div class="d-flex justify-content-center align-items-center vh-100">
    <div  class="fundo container w-50 text-white d-flex flex-column align-items-center rounded-3 p-5">

        <h1 class="text-center my-4 display-6">Faça sua validação de código!</h1>

        <div class="col-12 col-md-10 col-lg-8">
            <form action="{% url 'validar-codigo' %}" method="POST">

                {% csrf_token %}
                <div class="mb-3">
                    <input type="text" id="code" name="code" class="form-control form-control-lg" placeholder="Insira seu codigo secreto aqui..." required>
                </div>
               
                <div class="d-grid">
                    <button type="submit" class="btn btn-primary btn-lg">Validar Código</button>
                </div>
            </form>

            <div class="text-center mt-4">
                <a class="btn btn-outline-light" href="{% url 'auth_app:pagina_inicial' %}" role="button">Voltar à página inicial</a>
            </div>
            
        </div>

    </div>
</div>

{% endblock %}
