{% extends 'dashboard/dashboard.html' %}
{% load static %}


{% block title %}
Lista de chaveiros
{% endblock %}

{% block content %}

                <!-- Content Row -->
                <div class="row">

                    <!-- Main Card -->
                    <div class="col-lg-12 col-md-12">
                        <div class="card shadow mb-4">
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">Meus Chaveiros</h6>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <p class="mb-4">Aqui você consegue deletar, editar ou visualizar o resumo dos seus chaveiros criados.</p>
                                    <div class="table-responsive">
                                        <table class="table table-hover align-middle">
                                            <thead class=" text-center">
                                                <tr>
                                                    <th class="m-0 font-weight-bold text-primary" style="width: 5rem; ">#</th>
                                                    <th class="m-0 font-weight-bold text-primary">Nome</th>
                                                    <th class="m-0 font-weight-bold text-primary">Tipo</th>
                                                    <th class="m-0 font-weight-bold text-primary">Ações</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                
                                                <tr>
                                                    <td class="text-center" style="width: 2rem;">
                                                        <input type="checkbox" name="" id="">
                                                    </td>
                                                    <td class="text-center">Um exemplo de nome</td>
                                                    <td class="text-center">Um exemplo de tipo</td>
                                                    <!-- <td class="text-center">
                                              <img
                                                src="#"
                                                width="100"
                                                class="border rounded"
                                              />
                                            </td> -->
                                                    <td class="text-center">
                                                        <a href="#" class="btn btn-outline-dark btn-sm">
                                                            <i class="fa fa-pencil" aria-hidden="true"></i>
                                                        </a>
                                                        <a href="#" class="btn btn-outline-dark btn-sm">
                                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                                        </a>
                                                        <a href="#" class="btn btn-outline-dark btn-sm">
                                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div class="text-end mt-3">
                                            <a href="#" class="btn btn-danger btn-sm">
                                                <i class="fa fa-trash" aria-hidden="true"></i>
                                                Deletar os selecionados
                                            </a>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>

                </div>
          

{% endblock %}