{% extends 'dashboard/dashboard.html' %}
{% load static %}


{% block title %}
Area do Cliente
{% endblock %}


{% block content %} 



  <!-- Content Row -->
  <div class="row">

    <!-- Main Card -->
    <div class="col-lg-12 col-md-12">
      <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Informações</h6>
        </div>
        <div class="card-body">
          <div class="row">
            <!-- <div class="col-md-6 mb-4">
                            <div class="card border-left-primary h-100 py-2">
                                <div class="card-body">
                                    <div class="d-flex align-items-center">
                                        <i class="fas fa-key fa-2x text-gray-300 mr-3"></i>
                                        <div>
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                Chaveiros Criados
                                            </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">5</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
            <div class="col-md-6 mb-4">
              <div class="card border-left-primary h-100 py-2">
                <div class="card-body">
                  <div class="d-flex align-items-center">
                    <i class="fas fa-key fa-2x text-gray-300 mr-3"></i>
                    <div>
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                        Chaveiros Criados

                      </div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">5</div>
                    </div>
                    <a href="{% url 'chaveiros:dashboard_listagem' %}"
                      class="small mt-5 font-weight-bold text-gray-500 italic">Clique
                      para visualizar</a>
                  </div>

                </div>
              </div>
            </div>

            <div class="col-md-6 mb-4">
              <div class="card border-left-success h-100 py-2">
                <div class="card-body">
                  <div class="d-flex align-items-center">
                    <i class="fas fa-coins fa-2x text-gray-300 mr-3"></i>
                    <div>
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                        Créditos Disponíveis
                      </div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">3</div>
                    </div>
                    <a href="!#" class="small mt-5 font-weight-bold text-gray-500 italic">Clique para
                      visualizar</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          
          <!-- botão de criar e seu modal para criação -->
          <p class="mb-4">Bem-vindo ao seu painel de controle. Aqui você pode gerenciar seus
            chaveiros virtuais, comprar créditos e configurar sua conta.</p>
        <div class=" mt-3">
            <a type="button" class=" btn btn-primary btn-icon-split" href="{% url 'chaveiros:criar-chaveiro' %}">
                <span class="icon text-white-50">
                    <i class="fas fa-plus"></i>
                </span>
                <span class="text">Criar Novo Chaveiro</span>
            </a>
        </div>



        </div>
      </div>
    </div>

    <!-- Card de Links Rápidos -->
    <!-- <div class="col-lg-3">
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Links Rápidos</h6>
        </div>
        <div class="card-body">
          <div class="d-grid gap-2">
            <a href="#" class="btn btn-outline-primary text-left">
              <i class="fas fa-cog mr-2"></i> Configurações
            </a>
            <a href="#" class="btn btn-outline-primary text-left">
              <i class="fa fa-key mr-2"></i> Trocar Senha
            </a>
            <a href="#" class="btn btn-outline-success text-left">
              <i class="fas fa-shopping-cart mr-2"></i> Comprar Créditos
            </a>
            <a href="#" class="btn btn-outline-info text-left">
              <i class="fas fa-question-circle mr-2"></i> Ajuda
            </a>
          </div>
        </div>
      </div>
    </div> -->



  </div>

<!-- End of Main Content -->



{% endblock %}
