{% extends 'dashboard/dashboard.html' %}
{% load custom_filters %}

{% load static %}

{% block title %}
Editar perfil
{% endblock %}

{% block content %}

<!-- Content Row -->
<div class="row">

    <!-- Main Card -->
    <div class="col-lg-12 col-md-12">
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Editar perfil</h6>
            </div>

            <div class="container mt-2">
                <div class="row justify-content-center">
                    <div class="col-xl-10 col-lg-12">
                        <div class="card  border-0 rounded-4">
                            <div class="card-body p-4">

                                <form method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}


                                    <div class="row g-4 align-items-start">
                                        <!-- Foto do Perfil -->
                                        <div class="col-md-4 mt-5 text-center">
                                            {% if user.foto_profile %}
                                            <img src="{{ user.foto_profile.url }}"
                                                class="img-fluid rounded-circle border" alt="Foto de perfil"
                                                style="width: 220px;">
                                            {% else %}
                                            <img src="{% static 'images/avatar-default.jpg' %}"
                                                class="img-fluid rounded-circle border" alt="Foto de perfil"
                                                style="width: 220px;">
                                            {% endif %}
                                            <div class="col-sm my-2">
                                               
                                                <button type="button" class="btn btn-primary btn-sm rounded-4"
                                                data-bs-toggle="modal" data-bs-target="#modalFotoPerfil">
                                                <i class="fas a fa-pencil  fa-sm fa-fw "></i>  Alterar foto
                                                </button>

                                            </div>
                                        </div>

                                        <!-- Informações -->
                                        <div class="col-md-8">
                                            <form method="post" enctype="multipart/form-data">
                                                {% csrf_token %}


                                                <div class="d-flex align-items-center gap-2">
                                                    <h3 class="card-title my-3">Seus dados:</h3>

                                                </div>
                                                <div class="row">
                                                    <p class="card-text">

                                                    <ul class="list-unstyled ">

                                                        <li>

                                                            <div class="row g-3 my-1">
                                                                <div class="col-auto">
                                                                    <label for="stateList" class="col-form-label">
                                                                        <h6 class="mt-0"><strong>Nome:</strong></strong>
                                                                        </h6>
                                                                    </label>
                                                                </div>
                                                                <div class="col-sm">
                                                                    <input type="text" name="first_name"
                                                                        class="form-control"
                                                                        value="{{ user.first_name }}">
                                                                </div>
                                                            </div>
                                                        </li>

                                                        <li>
                                                            <div class="row g-3 my-1">
                                                                <div class="col-auto">
                                                                    <label for="last_name" class="col-form-label">
                                                                        <h6 class="mt-0">
                                                                            <strong>Sobrenome:</strong></strong>
                                                                        </h6>
                                                                    </label>
                                                                </div>
                                                                <div class="col-sm">
                                                                    <input type="text" name="last_name"
                                                                        class="form-control"
                                                                        value="{{ user.last_name }}">
                                                                </div>
                                                            </div>
                                                        </li>

                                                        <li>

                                                            <div class="row g-3 my-1">
                                                                <div class="col-auto">
                                                                    <label for="stateList" class="col-form-label">
                                                                        <h6 class="mt-0">
                                                                            <strong>Email:</strong></strong>
                                                                        </h6>
                                                                    </label>

                                                                </div>
                                                                <div class="col-sm">
                                                                    <input type="text" class="form-control"
                                                                        aria-label="email" name="email"
                                                                        value="{{ user.email }}">
                                                                </div>

                                                            </div>
                                                        </li>

                                                        <li>
                                                            <div class="row g-3 my-1">
                                                                <div class="col-auto">
                                                                    <label for="telefone" class="col-form-label">
                                                                        <h6 class="mt-0">
                                                                            <strong>Telefone:</strong></strong>
                                                                        </h6>
                                                                    </label>

                                                                </div>
                                                                <div class="col-sm">
                                                                    <input type="text" class="form-control"
                                                                        aria-label="telefone" name="telefone"
                                                                        value="{{ user.telefone }}">
                                                                </div>

                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="row g-3 my-1">
                                                                <div class="col-auto">
                                                                    <label for="whatsapp" class="col-form-label">
                                                                        <h6 class="mt-0">
                                                                            <strong>Celular/WhatsApp:</strong></strong>
                                                                        </h6>
                                                                    </label>

                                                                </div>
                                                                <div class="col-sm">
                                                                    <input type="text" class="form-control"
                                                                        aria-label="whatsapp" name="whatsapp"
                                                                        value="{{ user.whatsapp }}">
                                                                </div>

                                                            </div>
                                                        </li>

                                                        <li>
                                                            <div class="row g-3 my-1">
                                                                <div class="col-auto">
                                                                    <label for="data_nascimento" class="col-form-label">
                                                                        <h6 class="mt-0">
                                                                            <strong>Data de nascimento:</strong>
                                                                        </h6>
                                                                    </label>

                                                                </div>
                                                                <div class="col-sm">
                                                                    <input type="date" name="data_nascimento"
                                                                        class="form-control"
                                                                        value="{{ user.data_nascimento|date:'Y-m-d' }}"
                                                                        required>

                                                                </div>
                                                                <div class="col-auto">
                                                                    <label for="idade" class="col-form-label"
                                                                        placeholder="Nº">
                                                                        <h6 class="mt-0">
                                                                            <strong>Idade:</strong>
                                                                        </h6>
                                                                    </label>

                                                                </div>
                                                                <div class="col-sm-2">
                                                                    <input class="form-control" type="number"
                                                                        id="quantity" name="idade"
                                                                        value="{{ user.idade }}" readonly>
                                                                </div>

                                                            </div>


                                                        </li>



                                                        <li>
                                                            <div class="row g-3 my-1">
                                                                <div class="col-auto">
                                                                    <label for="stateList" class="col-form-label">
                                                                        <h6 class="mt-0">
                                                                            <strong>Endereço:</strong></strong>
                                                                        </h6>
                                                                    </label>

                                                                </div>
                                                                <div class="col-sm">
                                                                    <input type="text" name="endereco"
                                                                        class="form-control"
                                                                        placeholder="Digite seu endereço..."
                                                                        value="{{ user.endereco }}">

                                                                </div>
                                                                <div class="col-auto">
                                                                    <label for="numero" class="col-form-label"
                                                                        placeholder="Nº">
                                                                        <h6 class="mt-0">
                                                                            <strong>Nº:</strong>
                                                                        </h6>
                                                                    </label>

                                                                </div>
                                                                <div class="col-sm-2">
                                                                    <input type="text" class="form-control"
                                                                        placeholder="Nº" aria-label="numero"
                                                                        name="numero"
                                                                        value="{{ user.numero_endereco | default:'' }}">
                                                                </div>

                                                            </div>


                                                        </li>

                                                        <li>
                                                            <div class="row g-3 my-1">
                                                                <div class="col-auto">
                                                                    <label for="stateList" class="col-form-label">
                                                                        <h6 class="mt-0">
                                                                            <strong>Cidade:</strong>
                                                                        </h6>
                                                                    </label>

                                                                </div>
                                                                <div class="col-sm">
                                                                    <input type="text" id="text3" class="form-control"
                                                                        aria-describedby="text"
                                                                        placeholder="Digite sua cidade..." name="cidade"
                                                                        value="{{ user.cidade | default:'' }}">

                                                                </div>
                                                                <div class="col-auto">
                                                                    <label for="stateList" class="col-form-label">
                                                                        <h6 class="mt-0">
                                                                            <strong>UF:</strong>
                                                                        </h6>
                                                                    </label>

                                                                </div>
                                                                <div class="col-sm-4">
                                                                    <select name="estado" class="form-select">
                                                                        {% for sigla, nome in estado %}
                                                                            <option value="{{ sigla }}" {% if user.estado == sigla %}selected{% endif %}>{{ nome }}</option>
                                                                        {% endfor %}
                                                                    </select>

                                                            </div>

                                                        </li>
                                                        <li>
                                                            <div class="row g-3 my-1">
                                                                <div class="col-auto">
                                                                    <label for="complemento" class="col-form-label">
                                                                        <h6 class="mt-0">
                                                                            <strong>Complemento:</strong>
                                                                        </h6>
                                                                    </label>

                                                                </div>
                                                                <div class="col-sm">
                                                                    <input type="text" id="text3" class="form-control"
                                                                        aria-describedby="text" name="complemento"
                                                                        placeholder="Caso tenha, digite seu complemento..."
                                                                        value="{{ user.complemento | default:'Sem complemento' }}">

                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="mt-5">
                                                                <label for="bio" class="form-label mt-1">
                                                                    <h6 class="mt-0"><strong>Sua bio:</strong></h6>
                                                                </label>
                                                            </div>
                                                            <!-- <textarea class="form-control" id="bio" name="bio" rows="5"
                                                                            placeholder="Digite uma biografia sua aqui...">{{ user.bio | default:"" }}</textarea> -->
                                                            <textarea name="bio" class="form-control" rows="5"
                                                                placeholder="Digite uma biografia sua aqui...">{{ user.bio | default:"" }}</textarea>
                                                            <div class="form-text">Máximo de 200 caracteres.</div>

                                                        </li>


                                                </div>
                                                </ul>



                                                <div class="row my-3">
                                                    <div class="col text-end">
                                                        <a href="{% url 'chaveiros:perfil' %}"
                                                            class="btn btn-danger me-2">Cancelar</a>
                                                        <button type="submit" class="btn btn-success">Salvar
                                                            alterações</button>
                                                    </div>
                                                </div>

                                            </form>
                                        </div>

                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
<div class="modal fade" id="modalFotoPerfil" tabindex="-1" aria-labelledby="modalFotoPerfilLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <form method="POST" enctype="multipart/form-data" action="{% url 'chaveiros:atualizar_foto' %}">
          {% csrf_token %}
          <div class="modal-header">
            <h5 class="modal-title" id="modalFotoPerfilLabel">Atualizar Foto de Perfil</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
          </div>
  
          <div class="modal-body">
            <input type="file" name="foto_profile" class="form-control" required>
          </div>
  
          <div class="modal-footer">
            <button type="submit" class="btn btn-success">Salvar</button>
          </div>
        </form>
  
      </div>
    </div>
  </div>

    <!-- Modal -->
<!-- 
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">
                        Insira uma nova foto
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="formFile" class="form-label">Selecione uma foto:</label>
                        <input class="form-control" type="file" id="foto_profile" name="foto_profile">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary">Confirmar</button>
                </div>
            </div>
        </div>
    </div> -->

</div>

</div>
</div>

</div>


{% endblock %}