{% extends 'dashboard/dashboard.html' %}
{% load static %}
{% load custom_filters %}

{% block title %}
Perfil
{% endblock %}

{% block content %}
<!-- Content Row -->
<div class="row">
    <!-- Main Card -->
    <div class="col-lg-12 col-md-12">
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Perfil</h6>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="card mb-3 p-3 mx-auto" style="max-width: 740px">
                        <div class="row g-0 d-flex flex-md-row flex-column align-items-start mt-4">
                            <!-- Imagem do perfil -->
                            <div class="col-md-4 pt-4 text-center">
                                {% if user.foto_profile %}
                                <img src="{{ user.foto_profile.url }}" class="img-fluid rounded" alt="Foto de perfil"
                                    style="width: 150px">
                                {% else %}
                                <img src="{% static 'images/avatar-default.jpg' %}" class="img-fluid rounded"
                                    alt="Foto de perfil" style="width: 150px">
                                {% endif %}
                            </div>

                            <!-- Informações do usuário -->
                            <div class="col-md-8 d-flex flex-column justify-content-start h-100">
                                <div class="card-body pt-2">

                                    <div class="d-flex align-items-center gap-2">
                                        <h5 class="card-title display-6">{{ user.first_name }} {{ user.last_name }}
                                        </h5>
                                        <a href="{% url 'chaveiros:perfil-editar' %}"
                                            class="btn btn-outline-primary btn-sm">Editar Perfil</a>
                                    </div>
                                    
                                    <h6 class="mt-5"><strong>Sua bio:</strong></h6>
                                    <p class="card-text">
                                        {{ user.bio|default:"---" }}
                                    </p>


                                    <h6 class="my-3  display-6"><strong>Seus dados</strong></h6>
                                    <ul class="list-unstyled">
                                        <li><strong>Email:</strong> {{ user.email }}</li>
                                        <li><strong>Idade:</strong> {{ user.idade|default:"-" }}</li>
                                        <li><strong>Data de nascimento:</strong> {{ user.data_nascimento|date:"d/m/Y" }}
                                        </li>
                                        <li>
                                            <strong>Endereço:</strong> {{ user.endereco|default:"-" }},
                                            <strong>Número:</strong> {{ user.numero_endereco|default:"-" }},
                                            <strong>Complemento:</strong> {{ user.complemento|default:"-" }}
                                        </li>
                                        <li><strong>Cidade:</strong> {{ user.cidade|default:"-" }}</li>
                                        <li><strong>UF:</strong> {{ user.estado|default:"-" }}</li>
                                        <li><strong>Telefone:</strong> {{ user.telefone|default:"-" }}</li>
                                        <li><strong>WhatsApp:</strong> {{ user.whatsapp|default:"-" }}</li>
                                        <br>
                                        <li><strong>Criado em:</strong> {{ user.created_at|date:"d/m/Y H:i" }}</li>
                                        
                                    </ul>

                                </div>
                            </div>

                        </div>

                        <p class="text-body-secondary small text-end m-4">
                            <em>Última atualização há <strong>{{ user.updated_at|timesince }}</strong> atrás</em>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}